<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-navigation-heading" data-cy="NavigationCreateUpdateHeading">Create or edit a Navigation</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sequence">Sequence</label>
          <input type="number" class="form-control" name="sequence" id="field_sequence" data-cy="sequence" formControlName="sequence" />
          <div *ngIf="editForm.get('sequence')!.invalid && (editForm.get('sequence')!.dirty || editForm.get('sequence')!.touched)">
            <small class="form-text text-danger" [hidden]="!editForm.get('sequence')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_route">Route</label>
          <input type="text" class="form-control" name="route" id="field_route" data-cy="route" formControlName="route" />
          <div *ngIf="editForm.get('route')!.invalid && (editForm.get('route')!.dirty || editForm.get('route')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('route')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_breadCrumb">Bread Crumb</label>
          <input
            type="text"
            class="form-control"
            name="breadCrumb"
            id="field_breadCrumb"
            data-cy="breadCrumb"
            formControlName="breadCrumb"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_parent">Parent</label>
          <select class="form-control" id="field_parent" data-cy="parent" name="parent" formControlName="parent">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="navigationOption.id === editForm.get('parent')!.value?.id ? editForm.get('parent')!.value : navigationOption"
              *ngFor="let navigationOption of navigationsSharedCollection; trackBy: trackNavigationById"
            >
              {{ navigationOption.title }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
