<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-center-heading" data-cy="CenterCreateUpdateHeading">Create or edit a Center</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_addressLine">Address Line</label>
          <textarea
            class="form-control"
            name="addressLine"
            id="field_addressLine"
            data-cy="addressLine"
            formControlName="addressLine"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="center image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_division">Division</label>
          <select class="form-control" id="field_division" data-cy="division" name="division" formControlName="division">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="divisionOption.id === editForm.get('division')!.value?.id ? editForm.get('division')!.value : divisionOption"
              *ngFor="let divisionOption of divisionsSharedCollection; trackBy: trackDivisionById"
            >
              {{ divisionOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_district">District</label>
          <select class="form-control" id="field_district" data-cy="district" name="district" formControlName="district">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="districtOption.id === editForm.get('district')!.value?.id ? editForm.get('district')!.value : districtOption"
              *ngFor="let districtOption of districtsSharedCollection; trackBy: trackDistrictById"
            >
              {{ districtOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_upazila">Upazila</label>
          <select class="form-control" id="field_upazila" data-cy="upazila" name="upazila" formControlName="upazila">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="upazilaOption.id === editForm.get('upazila')!.value?.id ? editForm.get('upazila')!.value : upazilaOption"
              *ngFor="let upazilaOption of upazilasSharedCollection; trackBy: trackUpazilaById"
            >
              {{ upazilaOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
