<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-post-photo-heading" data-cy="PostPhotoCreateUpdateHeading">Create or edit a Post Photo</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sequence">Sequence</label>
          <input type="number" class="form-control" name="sequence" id="field_sequence" data-cy="sequence" formControlName="sequence" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="postPhoto image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
          <div *ngIf="editForm.get('imageUrl')!.invalid && (editForm.get('imageUrl')!.dirty || editForm.get('imageUrl')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('imageUrl')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_uploadedOn">Uploaded On</label>
          <div class="d-flex">
            <input
              id="field_uploadedOn"
              data-cy="uploadedOn"
              type="datetime-local"
              class="form-control"
              name="uploadedOn"
              formControlName="uploadedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_post">Post</label>
          <select class="form-control" id="field_post" data-cy="post" name="post" formControlName="post">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="postOption.id === editForm.get('post')!.value?.id ? editForm.get('post')!.value : postOption"
              *ngFor="let postOption of postsSharedCollection; trackBy: trackPostById"
            >
              {{ postOption.title }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_uploadedBy">Uploaded By</label>
          <select class="form-control" id="field_uploadedBy" data-cy="uploadedBy" name="uploadedBy" formControlName="uploadedBy">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="employeeOption.id === editForm.get('uploadedBy')!.value?.id ? editForm.get('uploadedBy')!.value : employeeOption"
              *ngFor="let employeeOption of employeesSharedCollection; trackBy: trackEmployeeById"
            >
              {{ employeeOption.fullName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
