<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="postComment">
      <h2 data-cy="postCommentDetailsHeading"><span>Post Comment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ postComment.id }}</span>
        </dd>
        <dt><span>Commented By</span></dt>
        <dd>
          <span>{{ postComment.commentedBy }}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
          <span>{{ postComment.comment }}</span>
        </dd>
        <dt><span>Comment Type</span></dt>
        <dd>
          <span>{{ postComment.commentType }}</span>
        </dd>
        <dt><span>Commented On</span></dt>
        <dd>
          <span>{{ postComment.commentedOn | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/post-comment', postComment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
