<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="division">
      <h2 data-cy="divisionDetailsHeading"><span>Division</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ division.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ division.name }}</span>
        </dd>
        <dt><span>Bn Name</span></dt>
        <dd>
          <span>{{ division.bnName }}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
          <span>{{ division.url }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/division', division.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
